body {
    height: 100vh;
    width: 100vw;
    background-size: cover;  
    background-attachment: fixed;
    /* background-image: url("./assets/images/5D08A7E6-155D-451F-67E900607CDE1EADOriginal.jpg"); */
}

textarea {
    resize: none;
}

.container::-webkit-scrollbar {
  width: 12px;
}

.container::-webkit-scrollbar-track {
  background: #E0A315;
  border-radius: 20px;
}

.container::-webkit-scrollbar-thumb {
  background-color: #3C4729;
  border-radius: 20px;
  border: 3px solid #E0A315;
}

section {
    height: 80%;
}

ul {
    text-align: center;
}

li {
    display: inline;
    list-style: none;
    padding: 20px;
}

.card {
    cursor: pointer;
    border-radius: 10px;
  }

.container {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 2px;
}

/* .columns {
    max-height: 100%;
} */

.border {
    border: 4px solid #3C4729;
}

.border:hover {
    box-shadow: inset 0 0 5px 5px rgba(224, 163, 21, 1);
}

.card-image {
    min-height: 100%;
}

.modal-card {
    width: 75vw;
    border-radius: 25px;
}

#search-box{
    width: 75%;
    box-shadow: 0 0 5px 0 ;
    border-radius: 15px;
}

#submit-search{
    width:100%
}

#map {
    height: 300px;
    width: 300px;
}

#location-box{
    border-radius: 15px;
}

#search-again-btn {
    border: 4px solid #3C4729; 
    color:#3C4729;
    background-color: #E0A315;
    width: 150px;
    opacity: 0.9;
}

#search-again-btn::

.landing-page-btns{
    width: 50%;
}

#startState{
    /* max-height: 100px;
    min-height: 50px; */
}

#recent0, #recent1, #recent2{
    display: none;
}